<footer id="faq" class="relative bg-primary text-white py-2 text-sm text-center md:text-left">
  <div class="container mx-auto p-4 px-6 lg:px-8 md:py-6" data-sr>
    <div class="row flex flex-wrap -mx-6 lg:-mx-8">
      <div class="col w-full px-6 lg:px-8">
        <h2>Data Sheets</h2>
        <div class="text-left text-base" data-accordion>
          
          <div data-item class="active">
            <div class="toggle">
              <span>Rhinotek is an established service provider based in Melbourne</span>
              <span>{{ svg('images/icons/toggle.svg')|attr({class:'text-dark bg-dark'}) }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry. Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry.</p>
                  <p>Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry. Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry.</p>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Rhinotek is an established service provider based in Melbourne</span>
              <span>{{ svg('images/icons/toggle.svg')|attr({class:'text-dark bg-dark'}) }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry. Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry.</p>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Rhinotek is an established service provider based in Melbourne</span>
              <span>{{ svg('images/icons/toggle.svg')|attr({class:'text-dark bg-dark'}) }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry. Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry.</p>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Rhinotek is an established service provider based in Melbourne</span>
              <span>{{ svg('images/icons/toggle.svg')|attr({class:'text-dark bg-dark'}) }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry. Australia delivering a wide range of products that focus on the Fire Protection a delivering a wide range of products that focus on the Fire Protection Industry.</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto p-4 px-6 lg:px-8 md:py-6 text-xs" id="footer" data-sr>
    <div class="row flex flex-wrap -mx-6 lg:-mx-8">
      <div class="col w-full px-6 lg:px-8">
        <div class="border-white/50 border-solid py-4">
          <div class="row flex flex-wrap -mx-6 lg:-mx-8 items-end justify-between">
            <div class="col px-6 lg:px-8 w-full xl:w-auto">
              <p>{{ svg('images/logo/rhinotek.svg')|attr({class:'w-full max-w-48'}) }}</p>
            </div>
            <div class="col px-6 lg:px-8 w-full md:w-auto">
              <p>Warehouse #47<br>Al Qouz Industrial Area<br>Dubai, United Arab Emirates</p>
            </div>
            <div class="col px-6 lg:px-8 w-full md:w-auto">
              <p>
                <a href="#" class="mx-2">{{ svg('images/icons/facebook.svg')|attr({class:'h-6'}) }}</a>
                <a href="#" class="mx-2">{{ svg('images/icons/call.svg')|attr({class:'h-6'}) }}</a>
                <a href="#" class="mx-2">{{ svg('images/icons/instagram.svg')|attr({class:'h-6'}) }}</a>
              </p>
            </div>
            <div class="col px-6 lg:px-8 w-full md:w-auto">
              <p><a href="#" data-email="hello|rhinotek.ae">hello@rhinotek.ae</a><br><a href="tel:+971544174747">+971 544 174747</a></p>
            </div>
            <div class="col px-6 lg:px-8 w-full lg:w-1/5 lg:text-right">
              <p><a href="https://arada.com/en/" target="_blank">Created by Arada</a></p>
            </div>
          </div>
          
        </div>
        <div class="border-t border-white/50 border-solid py-4">
          <div class="row flex flex-wrap -mx-6 lg:-mx-8 flex-row-reverse">
            <div class="col w-full px-6 lg:px-8 md:w-3/5 md:text-right">
              <p>
                <a href="#" class="block my-1 md:inline-block md:ml-8">Privacy Policy</a>
                <a href="#" class="block my-1 md:inline-block md:ml-8">Terms of Service</a>
                <a href="#" class="block my-1 md:inline-block md:ml-8">Cookie Settings</a>
              </p>
            </div>
            <div class="col w-full px-6 lg:px-8 md:w-2/5">
              <p>&copy; {{ "now"|date('Y') }} Rhinotek. All Rights Reserved. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>