<footer id="datasheets" class="relative bg-primary text-white py-2 text-sm text-center md:text-left">
  <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 max-w-screen-2xl" data-sr>
    <div class="row flex flex-wrap -mx-6 lg:-mx-8">
      <div class="col w-full px-6 lg:px-8">
        <h2>Data Sheets</h2>
        <div class="text-left text-base" data-accordion>
          <div data-item>
            <div class="toggle">
              <span>Pipes</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <div class="row flex flex-wrap -mx-6 -mb-6">
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Welded%20Sprinkler%20Steel%20Pipe.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Welded-Sprinkler-Steel-Pipe.png" width="1000" height="1200" alt="Welded Sprinkler Steel Pipe"></a></p>
                      <div class="pb-1"><strong>Welded Sprinkler Steel Pipe</strong></div>
                      <div>Model: FIS-Schedule40 / FIS-Schedule10</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>OS & Y Gate Valves</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <div class="row flex flex-wrap -mx-6 -mb-6">
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20300PSI%20OS%20&%20Y%20Flanged%20End%20Gate%20Valve%20OSY-FRD.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-300PSI-OS-&-Y-Flanged-End-Gate-Valve-OSY-FRD.png" width="1000" height="1200" alt="300PSI OS &amp; Y Flanged End Gate Valve"></a></p>
                      <div class="pb-1"><strong>300PSI OS &amp; Y Flanged End Gate Valve</strong></div>
                      <div>Model: OSY-FRD</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20300PSI%20OS%20&%20Y%20Flanged%20X%20Grooved%20End%20Gate%20Valve%20OSY-FRA.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-300PSI-OS-&-Y-Flanged-X-Grooved-End-Gate-Valve-OSY-FRA.png" width="1000" height="1200" alt="300PSI OS &amp; Y Flanged X Grooved End Gate Valve"></a></p>
                      <div class="pb-1"><strong>300PSI OS &amp; Y Flanged X Grooved End Gate Valve</strong></div>
                      <div class="text-xs">Model: OSY-FRA</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20300PSI%20OS%20&%20Y%20Grooved%20End%20Gate%20Valve%20OSY-RED.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-300PSI-OS-&-Y-Grooved-End-Gate-Valve-OSY-RED.png" width="1000" height="1200" alt="300PSI OS &amp; Y Grooved End Gate Valve"></a></p>
                      <div class="pb-1"><strong>300PSI OS &amp; Y Grooved End Gate Valve</strong></div>
                      <div class="text-xs">Model: OSY-RED</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>NRS Gate Valves</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <div class="row flex flex-wrap -mx-6 -mb-6">
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20300PSI%20NRS%20Flanged%20End%20Gate%20Valve%20NRS-FRD.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-300PSI-NRS-Flanged-End-Gate-Valve-NRS-FRD.png" width="1000" height="1200" alt="300PSI NRS Flanged End Gate Valve"></a></p>
                      <div class="pb-1"><strong>300PSI NRS Flanged End Gate Valve</strong></div>
                      <div>Model: NRS-FRD</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20300PSI%20NRS%20Flanged%20x%20Grooved%20End%20Gate%20Valve%20NRS-FRA.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-300PSI-NRS-Flanged-x-Grooved-End-Gate-Valve-NRS-FRA.png" width="1000" height="1200" alt="300PSI NRS Flanged X Grooved End Gate Valve"></a></p>
                      <div class="pb-1"><strong>300PSI NRS Flanged X Grooved End Gate Valve</strong></div>
                      <div>Model: NRS-FRA</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20300PSI%20NRS%20Grooved%20End%20Gate%20Valve%20NRS-RED.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-300PSI-NRS-Grooved-End-Gate-Valve-NRS-RED.png" width="1000" height="1200" alt="300PSI NRS Grooved End Gate Valve"></a></p>
                      <div class="pb-1"><strong>300PSI NRS Grooved End Gate Valve</strong></div>
                      <div>Model: NRS–RED</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Butterfly Valves</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <div class="row flex flex-wrap -mx-6 -mb-6">
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Butterfly%20Valve%20BVW-001.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Butterfly-Valve-BVW-001.png" width="1000" height="1200" alt="Butterfly Valve c/w Signal Gearbox – Wafer End"></a></p>
                      <div class="pb-1"><strong>Butterfly Valve c/w Signal Gearbox – Wafer End</strong></div>
                      <div>Model: BVW–001</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Butterfly%20Valve%20BVG-001.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Butterfly-Valve-BVG-001.png" width="1000" height="1200" alt="Butterfly Valve c/w Signal Gearbox – Grooved End"></a></p>
                      <div class="pb-1"><strong>Butterfly Valve c/w Signal Gearbox – Grooved End</strong></div>
                      <div>Model: BVG–001</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Landing Valves – Ordinary and with PRV (Pressure Restricting Valve)</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <div class="row flex flex-wrap -mx-6 -mb-6">
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Landing%20Valve%20FIS281%20Female%20X%20Female.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Landing-Valve-FIS281-Female-X-Female.png" width="1000" height="1200" alt="Landing Valve (Female X Female)"></a></p>
                      <div class="pb-1"><strong>Landing Valve</strong></div>
                      <div>Model: FIS281 (Female X Female)</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Landing%20Valve%20FIS281%20Female%20x%20Male.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Landing-Valve-FIS281-Female-x-Male.png" width="1000" height="1200" alt="Landing Valve (Female X Male)"></a></p>
                      <div class="pb-1"><strong>Landing Valve</strong></div>
                      <div>Model: FIS281 (Female X Male)</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Landing%20Valve%20FIS282%20Female%20x%20Female.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Landing-Valve-FIS282-Female-x-Female.png" width="1000" height="1200" alt="Pressure Reducing and Restricting Device (Female X Female)"></a></p>
                      <div class="pb-1"><strong>Pressure Reducing and Restricting Device</strong></div>
                      <div>Model: FIS282 (Female X Female) / FISJ282 (Female X Female)</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Landing%20Valve%20FIS282%20Female%20x%20Male.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Landing-Valve-FIS282-Female-x-Male.png" width="1000" height="1200" alt="Pressure Reducing and Restricting Device (Female X Male)"></a></p>
                      <div class="pb-1"><strong>Pressure Reducing and Restricting Device</strong></div>
                      <div>Model: FIS282 (Female X Male) / FISJ282 (Female X Male)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Sprinklers</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <div class="row flex flex-wrap -mx-6 -mb-6">
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Quick%20Response%20Automatic%20Sprinklers%20K=80.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Quick-Response-Automatic-Sprinklers-K=80.png" width="1000" height="1200" alt="Standard / Quick Response Automatic Sprinkler"></a></p>
                      <div class="pb-1"><strong>Standard / Quick Response Automatic Sprinkler</strong></div>
                      <div>Model: K=80 (5.6)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Hose Reels – Manual and Automatic</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <div class="row flex flex-wrap -mx-6 -mb-6">
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Hose%20Reel%20FIS-07-B%20&%20FIS-08-A.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Hose-Reel--FIS-07-B-&-FIS-08-A.png" width="1000" height="1200" alt="Manual Hose Reel"></a></p>
                      <div class="pb-1"><strong>Manual Hose Reel</strong></div>
                      <div>Model: FIS-07-B (25mm) / FIS-08-A (19mm)</div>
                    </div>
                    <div class="col px-6 w-1/2 md:w-1/3 lg:w-1/4 mt-2 mb-6">
                      <p><a href="files/datasheets/V1.01%20Rhinotek%20Hose%20Reel%20FIS-06-B%20&%20FIS-10-B.pdf" target="_blank" class="block hover:opacity-80"><img src="images/datasheets/V1.01-Rhinotek-Hose-Reel-FIS-06-B-&-FIS-10-B.png" width="1000" height="1200" alt="Automatic Hose Reel"></a></p>
                      <div class="pb-1"><strong>Automatic Hose Reel</strong></div>
                      <div>Model: FIS-06-B (25mm) / FIS-10-B (19mm)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 text-xs max-w-screen-2xl" id="footer" data-sr>
    <div class="row flex flex-wrap -mx-6 lg:-mx-8">
      <div class="col w-full px-6 lg:px-8">
        <div class="border-white/50 border-solid py-4">
          <div class="row flex flex-wrap -mx-6 lg:-mx-8 items-end justify-between">
            <div class="col px-6 lg:px-8 w-full xl:w-auto">
              <p>{{ svg('images/logo/rhinotek-footer.svg')|attr({class:'w-full max-w-48'}) }}</p>
            </div>
            <div class="col px-6 lg:px-8 w-full md:w-auto">
              <p>Gate 2, Aljada Logistics Area<br>Behind Arada Project Management Office<br>Near Airport Road, Muweilah, 22436, Sharjah</p>
            </div>
            <div class="col px-6 lg:px-8 w-full md:w-auto">
              <p>
                <a href="https://www.facebook.com/RhinotekAE/" class="mx-2" target="_blank" rel="nofollow noopener noreferrer">{{ svg('images/icons/facebook.svg')|attr({class:'h-6'}) }}</a>
                <a href="  https://wa.me/971502952449" class="mx-2" target="_blank" rel="nofollow noopener noreferrer">{{ svg('images/icons/call.svg')|attr({class:'h-6'}) }}</a>
                <a href="https://www.instagram.com/rhinotekae/" class="mx-2" target="_blank" rel="nofollow noopener noreferrer">{{ svg('images/icons/instagram.svg')|attr({class:'h-6'}) }}</a>
              </p>
            </div>
            <div class="col px-6 lg:px-8 w-full md:w-auto md:text-right">
              <p><a href="#" data-email="hello|rhinotek.ae">hello@rhinotek.ae</a><br><a href="tel:+971544174747">+971 544 174747</a></p>
            </div>
            <!--<div class="col px-6 lg:px-8 w-full lg:w-1/5 lg:text-right">
              <p><a href="https://arada.com/en/" target="_blank">Created by Arada</a></p>
            </div>-->
          </div>
        </div>
        <div class="border-t border-white/50 border-solid py-4 relative">
          <div id="backtop" class="md:hidden bg-primary px-6 absolute -top-6 -right-3"><a href="#/home" class="inline-block p-2 border-1 border-white border-solid rounded-full">{{ svg('images/icons/top.svg')|attr({class:'block w-6'}) }}</a></div>
          <div class="row flex flex-wrap -mx-6 lg:-mx-8 flex-row-reverse">
            <div class="col w-full px-6 lg:px-8 md:w-3/5 md:text-right">
              <!--<p>
                <a href="#" class="block my-1 md:inline-block md:ml-8">Privacy Policy</a>
                <a href="#" class="block my-1 md:inline-block md:ml-8">Terms of Service</a>
                <a href="#" class="block my-1 md:inline-block md:ml-8">Cookie Settings</a>
              </p>-->
            </div>
            <div class="col w-full px-6 lg:px-8 md:w-2/5 text-left">
              <p><span class="text-3xl align-middle">&copy;</span> {{ "now"|date('Y') }} Rhinotek. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>