{% extends '_layout/main' %}
{% block main %}
<section class="bg-white">
  <div class="py-8 md:py-12">
    <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 max-w-screen-2xl" data-sr>
      <div class="row flex flex-wrap -mx-6 lg:-mx-8 justify-between">
        <div class="col w-full px-6 lg:px-8 max-w-screen-sm lg:w-1/2">
          <h1>Safety without compromise</h1>
          <p>Rhinotek is an innovative building materials supply company specialising in the supply of certified, high-quality building services products and consulting. With warehouse and distribution facilities in Dubai, Sharjah and Abu Dhabi, we offer live-tracked inventory control and a seamless ordering process for our clients.</p>
          <p><strong>Prevent, Protect, Preserve</strong> with Rhinotek.</p>
        </div>
        <div class="col w-full px-6 lg:px-8 lg:w-1/2 xl:w-2/5">
          <div class="row flex flex-wrap -mx-4 lg:text-right lg:justify-end">
            <div class="col px-4 w-full"><h2 class="mt-4"><small>Certified &amp; Accredited Provider</small></h2></div>
            <div class="col px-4">{{ svg('images/logo/lpcb-vector-logo.svg')|attr({class:'h-18 md:h-24'}) }}</div>
            <div class="col px-4">{{ svg('images/logo/ul.svg')|attr({class:'h-18 md:h-24'}) }}</div>
            <div class="col px-4">{{ svg('images/logo/fm-vector-logo.svg')|attr({class:'h-18 md:h-24'}) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-8 md:py-12 bg-white border-t border-text border-solid">
    <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 max-w-screen-2xl" data-sr>
      <div class="row flex flex-wrap -mx-6 lg:-mx-8 items-center">
        <div class="col w-full px-6 lg:px-8 md:w-2/3 mt-4 md:mt-0">
          <div class="row flex flex-wrap -mx-8" data-counters>
            <div class="col px-8 flex flex-wrap items-center">
              <p>{{ svg('images/icons/products.svg')|attr({class:'block h-14 mr-4'}) }}</p>
              <p><strong><span data-counter>1000</span>+</strong><br>Products</p>
            </div>
            <div class="col px-8 flex flex-wrap items-center">
              <p>{{ svg('images/icons/suppliers.svg')|attr({class:'block h-14 mr-4'}) }}</p>
              <p><strong><span data-counter>25</span>+</strong><br>Suppliers</p>
            </div>
            <div class="col px-8 flex flex-wrap items-center">
              <p>{{ svg('images/icons/countries.svg')|attr({class:'block h-14 mr-4'}) }}</p>
              <p><strong>Global Supply Chain</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="break" data-break>
  <div class="paralax">
    <img src="images/break.jpg" width="3840" height="1300" alt="Rhinotek" loading="lazy">
    <div class="py-8 md:py-12 relative z-2 text-white h-full carousel">
      <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 h-full max-w-screen-2xl">
        <div class="row flex flex-wrap -mx-6 lg:-mx-8 h-full items-end">
          <div class="col w-full px-6 lg:px-8 max-w-screen-sm">
            <div id="hsplide" class="splide">
              <div class="splide__track">
                <div class="splide__list">
                  <div class="splide__slide">
                    <p><strong>Seamless Ordering</strong> - Our advanced ordering system integrates with e-commerce and allows our clients to upload a bill of quantities from the developer to instantly generate a detailed quote, saving time and effort.</p>
                  </div>
                  <div class="splide__slide">
                    <p><strong>Work Management System</strong> - Our WS system streamlines the ordering process for our clients—simply scan a barcode, approve stock, place your order, and make payment through our ERP system for maximum efficiency.</p>
                  </div>
                  <div class="splide__slide">
                    <p><strong>Logistics</strong> - With efficient logistics ensuring on-time deliveries, and strategic locations in Dubai, Sharjah, and Abu Dhabi, Rhinotek provides unmatched efficiency and reliability for our clients through live tracking.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-8 md:py-12 bg-white">
  <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 max-w-screen-2xl" id="about" data-sr>
    <div class="row flex flex-wrap -mx-6 lg:-mx-8 justify-between">
      <div class="col w-full px-6 lg:px-8 md:w-1/2 xl:w-3/5">
        <h2>About Us</h2>
        <p>Rhinotek began operations in the UAE from a 300,000-square-foot warehouse in Aljada, Sharjah, and has since grown into a leader in the supply of fire protection products and consultancy services.</p>
        <p>The company invests heavily in its on-site R&D facility, equipped with a fully operational fire system, where customers, authorities, and licensing agencies are invited to test, train, and collaborate alongside factory-trained staff.</p>
        <p class="md:hidden"><a href="#" class="read">Read more</a></p>
        <div class="hidden md:block">
          <p>Rhinotek’s products are meticulously designed, engineered, and manufactured under strict quality protocols. Its advanced facilities feature state-of-the-art ordering, packing, and dispatch technology to ensure an efficient and streamlined experience for clients.</p>
          <p>All Rhinotek staff undergo comprehensive training and education at manufacturers’ facilities across Australia, Europe, and Asia, ensuring expertise in every stocked product. Quarterly inspections by internal and third-party ISO inspectors, along with batch testing, guarantee consistent quality across Rhinotek’s and its partners’ manufacturing facilities worldwide.</p>
          <p>Proudly 100% UAE-owned and operated, Rhinotek is staffed by a dedicated team of internationally experienced engineers, managers, and industrial designers, bringing innovative and reliable fire protection solutions to the UAE market.</p>
        </div>
      </div>
      <div class="col w-full px-6 lg:px-8 md:w-1/2 xl:w-2/5">
        <p><img src="images/about.jpg" width="1469" height="2251" alt="About Rhinotek" loading="lazy"></p>
      </div>
    </div>
  </div>
  <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 max-w-screen-2xl" id="products" data-sr>
    <div class="row flex flex-wrap -mx-6 lg:-mx-8 justify-between">
      <div class="col w-full px-6 lg:px-8">
        <h2>Product Categories</h2>
        <div class="text-left text-base" data-accordion>
          <div data-item class="active">
            <div class="toggle">
              <span>Fire - Catalogue available</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Aenean ante velit, sagittis eu efficitur a, malesuada eget leo. Suspendisse quis ullamcorper nibh, id aliquet dolor. Ut congue, urna vitae feugiat tempor, erat magna porttitor ligula, rhoncus elementum purus arcu sit amet augue. Sed ultrices consequat arcu a iaculis. Sed interdum euismod purus, vitae mattis nisi elementum a. Donec sit amet nulla justo. Aenean a neque sed velit laoreet pharetra. Praesent mattis orci ac fermentum varius. </p>
                  <p><a href="files/rhinotek-catalogue.pdf" class="button" target="_blank"><small>Download catalogue</small></a></p>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Electrical - Catalogue coming Q4 2025</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Aenean ante velit, sagittis eu efficitur a, malesuada eget leo. Suspendisse quis ullamcorper nibh, id aliquet dolor. Ut congue, urna vitae feugiat tempor, erat magna porttitor ligula, rhoncus elementum purus arcu sit amet augue. Sed ultrices consequat arcu a iaculis. Sed interdum euismod purus, vitae mattis nisi elementum a. Donec sit amet nulla justo. Aenean a neque sed velit laoreet pharetra. Praesent mattis orci ac fermentum varius. </p>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Electrical - Catalogue coming Q4 2025</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Aenean ante velit, sagittis eu efficitur a, malesuada eget leo. Suspendisse quis ullamcorper nibh, id aliquet dolor. Ut congue, urna vitae feugiat tempor, erat magna porttitor ligula, rhoncus elementum purus arcu sit amet augue. Sed ultrices consequat arcu a iaculis. Sed interdum euismod purus, vitae mattis nisi elementum a. Donec sit amet nulla justo. Aenean a neque sed velit laoreet pharetra. Praesent mattis orci ac fermentum varius. </p>
                </div>
              </div>
            </div>
          </div>
          <div data-item>
            <div class="toggle">
              <span>Electrical - Catalogue coming Q4 2025</span>
              <span>{{ svg('images/icons/toggle.svg') }}</span>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Aenean ante velit, sagittis eu efficitur a, malesuada eget leo. Suspendisse quis ullamcorper nibh, id aliquet dolor. Ut congue, urna vitae feugiat tempor, erat magna porttitor ligula, rhoncus elementum purus arcu sit amet augue. Sed ultrices consequat arcu a iaculis. Sed interdum euismod purus, vitae mattis nisi elementum a. Donec sit amet nulla justo. Aenean a neque sed velit laoreet pharetra. Praesent mattis orci ac fermentum varius. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto p-4 px-6 md:px-8 lg:px-12 md:py-6 max-w-screen-2xl" id="services" data-sr>
    <div class="row flex flex-wrap -mx-6 lg:-mx-8">
      <div class="col w-full px-6 lg:px-8">
        <h2>Services</h2>
        <div class="row flex flex-wrap my-8 -mx-1" data-services data-accordion>
          
          <div class="col w-full px-1 md:w-1/3 xl:w-1/5 active" data-item>
            <div class="service toggle flex flex-col text-center">
              <p class="mb-auto">{{ svg('images/icons/sprinkler-head.svg') }}</p>
              <h3>Sprinkler Head Testing</h3>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Our dedicated team are available to perform sprinkler head life expectancy batch testing using state-of-the-art ISO-certified testing equipment, delivering clear, easy-to-understand reports with precise and well-defined results.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col w-full px-1 md:w-1/3 xl:w-1/5" data-item>
            <div class="service toggle flex flex-col text-center">
              <p class="mb-auto">{{ svg('images/icons/auditing.svg') }}</p>
              <h3>Auditing</h3>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Our team of professionals conduct thorough audits between practical completion and final inspection / handover of your building project, identifying any shortfalls to mitigate defects before final certification is obtained.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col w-full px-1 md:w-1/3 xl:w-1/5" data-item>
            <div class="service toggle flex flex-col text-center">
              <p class="mb-auto">{{ svg('images/icons/training.svg') }}</p>
              <h3>Training</h3>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Our fully operational live fire system training facility provides our clients with comprehensive training on the latest products and materials, ensuring professionals stay updated with cutting-edge fire protection technologies and practices.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col w-full px-1 md:w-1/3 xl:w-1/5" data-item>
            <div class="service toggle flex flex-col text-center">
              <p class="mb-auto">{{ svg('images/icons/full-function.svg') }}</p>
              <h3>Full Function Testing</h3>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>We provide comprehensive full-function system interface testing, ensuring seamless integration with building management systems. Our expert staff are available to work onsite to finalise certification requirements before civil defense inspections occur. Post-inspection, we verify that all systems communicate and operate as intended, ensuring compliance and reliability.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col w-full px-1 md:w-1/3 xl:w-1/5" data-item>
            <div class="service toggle flex flex-col text-center">
              <p class="mb-auto">{{ svg('images/icons/consultancy.svg') }}</p>
              <h3>Consultancy</h3>
            </div>
            <div class="element">
              <div class="spread">
                <div data-height>
                  <p>Our consultancy services provide assistance in value engineering, with a dedicated team of expert engineers who work closely with our clients to develop the most competitive tenders and proposals. We assist in selecting the optimal range and exploring alternative solutions, giving your projects a strategic edge.</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}