{{ craft.vite.register('src/js/rhinotek.ts', false, {onload:false}, {onload:false}) }}<meta name="author" content="Show &amp; Tell Studio">
<title>Rhinotek - Safety without compromise</title>
<meta name="description" content="Discover cutting-edge solutions with Rhinotek – delivering unmatched innovation, quality, and performance for your business needs.">
<meta name="referrer" content="strict-origin-when-cross-origin">
<meta name="theme-color" content="#191964">
<base href="{{ siteUrl }}">
<link rel="apple-touch-icon" sizes="180x180" href=" {{ url('resources/rhinotek-180x180.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url('resources/rhinotek-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url('resources/rhinotek-16x16.png') }}">
<link rel="icon" type="image/svg+xml" href="{{ url('resources/rhinotek.svg') }}" sizes="any">
<link rel="manifest" href="{{ url('site.webmanifest') }}">
<link rel="mask-icon" href="{{ url('resources/rhinotek-mask.svg') }}" color="#191964">
<link rel="shortcut icon" href="{{ url('resources/rhinotek.ico') }}">
<style>html{height:100%;overflow-y:scroll;overflow-x:hidden;}body{margin:0;padding:0;background:#fff;}#wrapper{visibility:hidden;}</style>
<noscript><style>[data-sr]{visibility: visible !important;}</style></noscript>
